@model Product
@{
    ViewData["Title"] = "Create";
}
<form asp-controller="Home" asp-action="CreateProduct" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="container"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control">
        </div>
        <div class="mb-3">
            <label  asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories">
                <option value="">All</option>
            </select>
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <label for="Image" class="form-label">Choose Image</label>
                <input class="form-control" type="file" name="imageFile" id="imageFile">
            </div>
        </div>
        
        <div class="mb-3">
            <div class="form-check form-switch">
                <label class="form-check-label" asp-for="IsActive">Acvite ?</label>
                <input class="form-check-input" asp-for="IsActive">
              </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Save</button>
</form>
